tags:
- name: coinflip
  description: coinflip API

paths:
  /api/health:
    get:
      summary: health check endpoint
      responses:
        200:
          desciption: 'OK'
  
  /api/coinflip/config:
    get:
      tags:
      - coinflip
      summary: get coinflip contract config
      responses:
        200:
          desciption: 'OK'
  
  /api/coinflip/mybets/{address}:
    get:
      tags:
      - coinflip
      summary: query address pending and ongoing bets
      parameters:
      - name: address
        in: path
        desciption: wallet address
        required: true
        type: string
      responses:
        200:
          desciption: 'OK'

  /api/coinflip/mybets/history:
    get:
      tags:
      - coinflip
      summary: query address bet history
      parameters:
      - name: skip
        in: query
        desciption: amount of bets to skip
        required: true
        type: integer
      - name: limit
        in: query
        desciption: amount of bets to query
        required: true
        type: integer
      - name: address
        in: query
        desciption: user address
        required: true
        type: string
      responses:
        200:
          desciption: 'OK'

  /api/coinflip/bets/pending:
    post:
      tags:
      - coinflip
      summary: query pending bets list
      parameters:
      - name: body
        in: body
        desciption: filters
        required: true
        schema:
          $ref: '#/definitions/pending_filter'
      responses:
        200:
          desciption: 'OK'

  /api/coinflip/bets/pending/count:
    get:
      tags:
      - coinflip
      summary: get current pending bets count
      responses:
        200:
          desciption: 'OK'

  /api/coinflip/bets/liquidatable:
    get:
      tags:
      - coinflip
      summary: query public liquidatable bets
      parameters:
      - name: skip
        in: query
        desciption: amount of bets to skip
        required: true
        type: integer
      - name: limit
        in: query
        desciption: amount of bets to query
        required: true
        type: integer
      responses:
        200:
          desciption: 'OK'

definitions:
  pending_filter:
    type: object
    required:
      - skip
      - sort_by
    properties:
      skip:
        type: integer
      limit:
        type: integer
      exclude_address:
        type: string
      assets:
        type: array
        items:
          oneOf:
            - $ref: '#/definitions/asset_filter'
      liquidation:
        type: object
        properties:
          blocks_until_liquidation_from:
            type: integer
          blocks_until_liquidation_to:
            type: integer
      sort_by:
        $ref: '#/definitions/sort_by'

  asset_filter:
    type: object
    properties:
      denom:
        type: string
      bet_size_from:
        type: integer
      bet_size_to:
        type: integer

  sort_by:
    type: object
    properties:
      creation|price:
        type: object
        properties:
          asc:
            type: boolean


schemes:
 - https
 - http
